{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
      "react/jsx-filename-extension": [
        "error",
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ],
      "react/prefer-stateless-function": "off",
      "ecmaFeatures": {
        "classes": true
      }
    },
  "globals": {
    "document": true,
    "fetch": true,
    "alert": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
